<!DOCTYPE html>
	<html>
		<head>
			<title>API</title>
			<!-- meta -->
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<!-- css -->
			<link href="/css/style.css" rel="stylesheet" type="text/css">
		</head>
	<body>
		<div class="app">
			<h1>API</h1>
			<p>Demo</p>
		</div>
	</body>
</html>